* {
    /* padding: 10px; margin: 10px auto; */
    padding: 0;
    margin: 0 auto;
    text-align: center;
    /* font-family: "D2Coding"; */
    color: white;
    /* background: black; */
    /* word-wrap: break-word; */
    /* border : 1px solid white; */
}

a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}


/* #page>div>div>a{
    border: 1px solid white;
} */

#fullpage {
    z-index: 0;
}

#head {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

#home {
    float: left;
    text-align: left;
    font-size: 30px;
    margin-left: 0;
}

#menu {
    float: right;
    text-align: right;
    font-size: 30px;
    margin-right: 0;
}

#head_blank {
    height: 33px;
}

#blank {
    width: 100%;
    float: left;
}

#page {
    width: 60%;
    float: left;
    margin-left: 20%;
}

#contents {
    height: 250px;
    overflow: auto;
}


/* #instar{
    float: left;
} */

#newtab {
    display: block;
    width: 50px;
    height: 50px;
    background-color: white;
    /* -webkit-filter: invert(100%); */
    filter: invert(100%);
}

#under_icon {
    display: block;
    width: 50px;
    height: 50px;
    /* background-color: white; */
    /* -webkit-filter: invert(100%); */
    /* filter: invert(100%); */
}

#sns {
    display: block;
    float: left;
}

#newtab_div {
    display: block;
    float: right;
}

#footer {
    font-weight: bold;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}